.carouselContainer {
    width: 100%;
    height: 300px;
    position: relative;
}

.carouselContainer i.arrow.left:hover {
    cursor: pointer;
}

.carouselContainer i.arrow.right:hover {
    cursor: pointer;
}

.carouselContainer .image {
    height: 100%;   
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.carouselContainer .arrowContainer {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
}
