.galleryContainer {
    display: flex;
    justify-content: center;    
    padding: 0 10px;    
}

.galleryContainer .itemContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.galleryContainer .centeringContainer {
    display: inline-flex;
    flex-flow: row wrap;
}

.galleryContainer .image {
    width: 200px;
    height: 300px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 2px;
    margin: 0 10px;
}